.suppliers h2{
    font-size: 2.3rem;
    font-weight: 800;
    color: tomato;
    padding: 60px 0 30px 0;
    text-align: center;
}

.table{
    margin-bottom: 40px;
}

.table tr button{
    background-color: aquamarine;
    border: 1px solid blueviolet;
    border-radius: 4px;
    margin-right:10px;
    outline: 0;
}
.table tr button:active{
    border: 1px solid silver;
}


.list-item{
    cursor: pointer;
}
.loading{
    position: relative;
}
.deleteloader{
    position: absolute;
    top:25%;
    right: 50%;
}