.navbar-brand h2{
    margin-bottom: 4px;
    color: #fff;
    font-weight: 700;
}

footer {
    background-color: rgb(112, 112, 119);
    color: #fff;
}

.footer-item {
    text-align: center;
    color: #fff;
}

.footer-item a{
    color: rgb(250, 112, 112);
    font-weight: 800;
}